/* -----------------------------fonts-------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* --------------------------common styles-------------------- */

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

/* -------------------------header styles------------------------- */

.header {
  background-color: rgba(255, 144, 14, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 240px 0 228px;
}

.title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.navigation-bar {
  display: flex;
  gap: 40px;
}

.navigation-bar a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* -------------------group of architects styles------------------ */

.architect-section {
  text-align: center;
}

.architects-container {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 105px 530px 10px 530px;
}

.architects-title {
  color: #131313;
  font-weight: 700;
  font-size: 64px;
  margin: 0;
}

.architects-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.button {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 16px;
  cursor: pointer;
  transition: background-color .4s;
}
.btn-primary:hover{
  background-color: blue;
}

.banner {
  background-color: rgba(255, 144, 14, 0.1);
  padding-top: 50px;
  padding-bottom: 40px;
}

.banner-image {
  border-radius: 8px;
}

/* --------------------------features styles---------------------------- */

.features-container {
  display: flex;
  gap: 60px;
  align-items: center;
  margin: 85px 280px 0 280px;
}

.team-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.team-images img {
  border-radius: 8px;
}

.features-title {
  color: #727272;
  font-weight: 500;
  font-size: 45px;
  margin: 0;
}

/*------------ span styles start-------------*/
.span-1 {
  color: #131313;
  font-weight: 700;
}
.span-2 {
  color: #ff900e;
  font-weight: 700;
}
/* -------------span style end-------------- */

.features-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 16px;
}

/* ------------------features info styles--------------------- */

.features-info-section {
  display: flex;
  gap: 100px;
  margin: 130px 240px 0 240px;
}

.features-info-container {
  margin-top: 39px;
}

.first-feature {
  margin-bottom: 30px;
}

.first-features-name {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  border-left-style: solid;
  border-width: 5px;
  border-color: #ff900e;
  padding-left: 20px;
  margin-top: 6px;
  margin-bottom: 8px;
}

.first-features-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}

.other-features {
  width: 586px;
  padding: 30px;
  margin-bottom: 20px;
}

.other-features-name {
  color: #131313;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.other-features-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.experience-button {
  background-color: #ff900e;
  color: #ffffff;
  font-weight: 700;
  font-size: 65px;
  padding: 30px 45px;
  border: 0;
  border-radius: 8px;
  position: relative;
  right: 100px;
  bottom: 110px;
}

.btn-info {
  font-weight: 500;
  font-size: 25px;
  margin-top: 0;
}

/* -----------------facts styles----------------- */

.some-facts {
  width: 542px;
  margin-top: 130px;
  margin-left: 240px;
}

.some-facts h1 {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 8px;
}

.some-facts p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
}

/* -------------------dashboard styles-------------------- */

.dashboard-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 100px 290px 0 290px;
}

.dashboard-info {
  text-align: center;
  padding: 45px 40px 45px 40px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  transition: border 0.09s;
}
.dashboard-info:hover{
  border: 2px solid blue;
}

.dashboard-info h1 {
  color: #424242;
  font-weight: 600;
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 0;
}

.dashboard-info p {
  color: #727272;
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px;
}

/* -------------------sponsor styles------------------- */
.our-sponsor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.our-sponsor h1 {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 0;
}

.our-sponsor p {
  text-align: center;
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  width: 542px;
  margin-top: 24px;
}

.sponsors-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 240px 0 240px;
}

.sponsors-container img {
  filter: invert(65%) sepia(7%) saturate(194%) hue-rotate(21deg) brightness(91%)
    contrast(88%);
}

/* -------------------footer style--------------------- */

.footer {
  background-color: #fff4e7;
  text-align: center;
  border: none;
  border-radius: 8px;
  margin: 130px 240px 216px 240px;
}

.footer-description {
  color: #424242;
  font-weight: 400;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hide {
  display: none;
}

/* -------------------media query styles---------------------- */

@media only screen and (max-width: 576px) {
  /* ----------------header media query-------------- */
  .header{
    flex-direction: column;
    background-color: white;
    align-items: flex-start;
    padding: 10px;
  }
  .navigation-bar{
    flex-direction: column;
  }
  .title {
    padding-left: 30px;
  }
  /* -------------architect media query-------------- */
  .architects-container, 
  .banner {
    background-color: white;
    padding: 10px;
    margin-top: 30px;
  }
  .banner-image {
    width: 100%;
  }
  .button {
    background-color: white;
    margin-bottom: 30px;
  }
  /* ------------------features media query-------------------- */
  .features-info-section {
    flex-direction: column;
  }
  .features-container {
    flex-direction: column-reverse;
    text-align: center;
    margin: 10px;
  }
  .team-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .list-of-features {
    text-align: center;
    padding: 10px;
  }
  .features-info-section {
    text-align: center;
    margin: 10px;
  }
  .other-features {
    width: 100%;
    padding: 10px;
  }
  .experiences {
    padding: 10px;
  }
  .architect-image {
    width: 100%;
  }
  .experience-button {
    position: static;
    padding: 5px 10px;
    margin-top: 20px;
  }
  /* ------------------some facts media query----------------- */
  .some-facts {
    text-align: center;
    width: 100%;
    margin: 10px;
  }
  .some-facts p {
    padding: 10px;
  }
  /* ---------------------dashboard media query------------ */
  .dashboard-container {
    flex-direction: column;
    margin: 10px;
  }
  .dashboard-info {
    margin: 10px;
  }
  /* ------------------sponsor media query----------------- */
  .our-sponsor{
    margin-top: 40px;
  }
  .our-sponsor p {
    width: 100%;
    padding: 10px;
  }
  .sponsors-container{
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .sponsors-container img {
    width: 50%;
    padding-bottom: 40px;
  }
  /* ---------------footer media query------------------- */
  .footer {
    margin: 10px;
    margin-bottom: 50px;
  }
  /* ----------------------media query end----------------------- */
}